<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfaksDuctOMatic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WpfaksDuctOMatic.Properties.Settings>
            <setting name="setCFM" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="setVelLimit" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="setChkVLimit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setChkWRange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setChkHRange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="obLiner1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="obLiner5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="obLinerN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="obRect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxAR" serializeAs="String">
                <value>4.0</value>
            </setting>
            <setting name="Loc_Top" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Loc_Left" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="obDTFO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LphMargin" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="AirDevExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecSolExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StrWtLL" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="StrWtUL" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="StrHtLL" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="StrHtUL" serializeAs="String">
                <value>60</value>
            </setting>
        </WpfaksDuctOMatic.Properties.Settings>
    </userSettings>
</configuration>